<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      {% include 'styles.min.css' %}
    </style>
    {% if home %}
    <link rel="canonical" href="{{ base }}{{ originalUrl }}" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ base }}/feed.xml">
    <link rel="icon" href="{{ base }}/images/favicon.svg" type="image/svg+xml">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="{{ title }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta property="og:url" content="{{ base }}{{ page.url }}">
    <meta property="og:image" content="{{ base }}{{ image }}">
    <meta property="og:image:alt" content="{{ alt }}">
    <meta name="twitter:image" content="{{ base }}{{ image }}">
    <meta name="twitter:image:alt" content="{{ alt }}">
    <title>{% if not home %}{{ title }} : {% endif %}{{ site.name }}</title>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "ImageObject",
        "name": "{{ title }}",
        {% if site.author %}
        "creator": "{{ site.author }}"
        {% endif %}
        {% if description %}
        "description": "{{ description }}"
        {% endif %}
        "url": "{{ base }}{{ image }}"
      }
    </script>
  </head>
  <body>