{% set latest = collections.posts[collections.posts.length - 1] %}
{% include 'layouts/head.njk' %}
<div class="wrapper">
  <header>
    <div class="caption" id="meta">
      <h1>{{ latest.data.title }}</h1>
      {% if latest.data.date %}
      <time datetime="{{ latest.data.date | w3cDateFilter }}">
        {{ latest.data.date | dateFilter }}
      </time>
      {% endif %}
      {% if latest.data.description %}
      <button class="q" aria-label="show description" hidden>[?]</button>
      {% endif %}
    </div>
  </header>
  <main>
    <figure>
      <a href="{{site.basedir}}{{ latest.data.image }}">
        <img src="{{site.basedir}}{{ latest.data.image }}" alt="{{ latest.data.alt }} (press to enlarge)" aria-describedby="meta" loading="lazy">
      </a>
    </figure>
  </main>
  {% include 'layouts/nav.njk' %}
</div>
{% if latest.data.description %}
<div role="dialog" aria-labelledby="desc" tabindex="-1">
  <div>
    <p id="desc">{{latest.data.description}}</p>
    <button class="close" aria-label="close" hidden>[close]</button>
  </div>
</div>
{% endif %}
{% include 'layouts/foot.njk' %}