{% include 'layouts/head.njk' %}
<div class="wrapper">
  <header>
    <div class="caption" id="description">
      <h1>{{ title }}</h1>
      {% if date %}
      <time datetime="{{ date | w3cDateFilter }}">
        ({{ date | dateFilter }})
      </time>
      {% endif %}
    </div>
  </header>
  <main>
    <figure>
      <a href="{{site.basedir}}{{ image }}">
        <img src="{{site.basedir}}{{ image }}" alt="{{ alt }} (press to enlarge)" aria-describedby="description">
      </a>
    </figure>
  </main>
  {% include 'layouts/nav.njk' %}
</div>
{% include 'layouts/foot.njk' %}