{% if  home %}
  {% set links = collections.posts | navLinks(collections.posts[collections.posts.length - 1]) %}
{% else %}
  {% set links = collections.posts | navLinks(page) %}
{% endif %}
<nav aria-label="posts">
  {{ isBuild }}
  <ul>
    {% if links.first %}
    <li>
      <a href="{{ base }}{{ links.first.url }}">
        <svg aria-hidden="true" focusable="false"  width="16" height="16" viewBox="0 0 16 16" class="icon first">
          <path d="M0,8 16,0 16,16 M0,0 4,0 4,16 0,16" />
        </svg>
        <span>first</span>
      </a>
    </li>
    {% endif %}
    {% if links.prev %}
    <li>
      <a href="{{ base }}{{ links.prev.url }}">
        <svg aria-hidden="true" focusable="false"  width="16" height="16" viewBox="0 0 16 16" class="icon prev">
          <path d="M0,8 16,0 16,16" />
        </svg>
        <span>prev</span>
      </a>
    </li>
    {% endif %}
    {% if links.random %}
    <li>
      <a class="random" href="{{ base }}{{ links.random.url }}">
        <svg aria-hidden="true" focusable="false"  width="16" height="16" viewBox="0 0 16 10" class="icon random">
          <path d="M0,2 5,2 11,8 13,8 M0,8 5,8 11,2 13,2" fill="none" stroke-width="2" stroke="currentColor" />
          <path d="M13,0 16,2 13,4" fill="#000" />
          <path d="M13,6 16,8 13,10" fill="#000" />
        </svg>
        <span>random</span>
      </a>
    </li>
    {% endif %}
    {% if links.next %}
    <li>
      <a href="{{ base }}{{ links.next.url }}">
        <svg aria-hidden="true" focusable="false"  width="16" height="16" viewBox="0 0 16 16" class="icon next">
          <path d="M0,0 16,8 0,16" />
        </svg>
        <span>next</span>
      </a>
    </li>
    {% endif %}
    {% if links.last %}
    <li>
      <a href="{{ base }}{{ links.last.url }}">
        <svg aria-hidden="true" focusable="false"  width="16" height="16" viewBox="0 0 16 16" class="icon last">
          <path d="M0,0 16,8 0,16 M12,0 16,0 16,16 12,16" />
        </svg>
        <span>last</span>
      </a>
    </li>
    {% endif %}
  </ul>
  <div class="meta">
    {% if site.author %}
    by {% if site.authorLink %}<a href="{{ site.authorLink }}">{% endif %}{{ site.author }}{% if site.authorLink %}</a>{% endif %} &middot;
    {% endif %}
    <a href="{{ base }}/feed.xml"><span>RSS</span></a> &middot;
    <a href="https://github.com/heydon/ga11ery">Get yours!</a>
  </div>
</nav>
<script type="module">
  (function() {
    const randomBtn = document.querySelector('.random');
    const randomFive = '{{ links.randomFive }}'.split(',');
    const randomNew = randomFive[Math.floor(Math.random() * randomFive.length)];
    randomBtn.href = randomNew;
  })();
</script>