<nav aria-label="posts">
  <ul>
    <li>
      <a href="#">
        <svg viewBox="0 0 16 16" class="icon first">
          <path d="M0,8 16,0 16,16 M0,0 4,0 4,16 0,16" />
        </svg>
        <span>first</span>
      </a>
    </li>
    <li>
      <a href="#">
        <svg viewBox="0 0 16 16" class="icon prev">
          <path d="M0,8 16,0 16,16" />
        </svg>
        <span>previous</span>
      </a>
    </li>
    <li><a href="#">random</a></li>
    <li>
      <a href="#">
        <span>next</span>
        <svg viewBox="0 0 16 16" class="icon next">
          <path d="M0,0 16,8 0,16" />
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <span>last</span>
        <svg viewBox="0 0 16 16" class="icon last">
          <path d="M0,0 16,8 0,16 M12,0 16,0 16,16 12,16" />
        </svg>
      </a>
    </li>
  </ul>
</nav>