html {
  text-align: center;
  font-family: monospace;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
}

p {
  line-height: 1.25;
}

:focus {
  outline: 1px solid;
  outline-offset: 0.25em;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
  max-height: calc(100vh - 10rem);
}

main {
  margin: auto;
}

nav, header, main {
  padding: 1em;
}

main {
  padding: 0 1em;
}

nav li {
  display: inline-block;
  margin: 0.5em;
}

nav a {
  text-decoration: none;
  display: inline-block;
}

nav a > * + * {
  margin-left: 0.333em;
}

nav a span {
  display: block;
}

.icon {
  width: 0.8em;
  height: 0.8em;
  fill: currentColor;
}

.icon.random {
  width: 1.6em;
}

.icon.rss {
  fill: none;
  stroke: currentColor;
}

h1 {
  font-size: 1.5em;
}

.with-js [role="dialog"] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  color: #fff;
}

.with-js [role="dialog"] p {
  text-align: left;
  max-width: 60ch;
}

.with-js [role="dialog"][hidden] {
  display: none;
}

button {
  all: initial;
  font-family: inherit;
  cursor: pointer;
  font-weight: bold;
}

.close {
  color: #fff;
  margin: 0.5em;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}