---
permalink: feed.xml
eleventyExcludeFromCollections: true
---

<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
  <channel>
    <title>{{ site.name }}</title>
    <link>{{ site.fullUrl }}</link>
    <description>{{ site.description }}</description>
    <language>en-us</language>
    <lastBuildDate>{{ page.date | w3cDateFilter }}</lastBuildDate>
    <atom:link href="{{ site.fullUrl }}/feed.xml" rel="self" type="application/rss+xml" />
    {% for post in collections.posts %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ site.fullUrl }}{{ post.url }}</link>
      <pubDate>{{ post.date | w3cDateFilter }}</pubDate>
      <guid>{{ site.fullUrl }}{{ post.url }}</guid>
      <description>
        <img src="{{ site.fullUrl }}{{ post.data.image }}" alt="{{ post.data.alt }}" />
      </description>
    </item>
    {% endfor %}
  </channel>
</rss>
